* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    display: flex;
    border: solid 1px black;
    
}
div > * {
    margin: 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
 border: solid 1px  black;
 display: flex;
 padding: 1rem;
 margin-bottom: 1rem;
 background-color: linen;
}

#square {
    background-color: green;
    width: 100px;
    height: 100px;
}
.vip {
    background-color: green;
}

form {
    border: 1px solid black;
    padding: 1rem;
    margin: 10% 20%;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-around;
}
input, button {
    height: 3rem;
}



li.validation {
    color: red;
}

