* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    display: flex;
    border: solid 1px black;
}

#square {
    background-color: green;
    width: 100px;
    height: 100px;
}